:root {
  --bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
html,
body {
  height: auto !important;
  overflow-y: auto !important;
  margin: 0;
  padding: 0;
}
.contain {
  background: var(--bg);
  color: #000;
  
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.content-into-sql{
  background: #2770A3;
  background: linear-gradient(90deg,rgba(39, 112, 163, 1) 31%, rgb(39, 39, 39) 80%);
  
  color: white;
  
  width: 100%;
  height: 250px;

  margin: 3% 0;
  padding: 32px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-section {

  border-radius: 16px;

  width: 80%;
  margin: 32px 0;
  padding: 24px;

  display: flex;
  flex-direction: column;
}

.content-section .content {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 28px;
}

.image {
  width: 250px;
  height: 250px;
}

.paragraph-into{
  width: 50%;
}

.illustrationBox {
  display: flex;
  flex-direction: column;
}

.atacks-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content-avoid-atacks{
  display: flex;
  flex-direction: column;
}

.content-avoid-atacks .sub-title{
  margin-bottom: 0;
}