html,
body {
  background-color: #f2f3f6;
  height: auto;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
.contain {
  color: #000;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.content-into-sql {
  background: #2a399b;
  background: linear-gradient(
    90deg,
    rgb(25, 35, 95) 0%,
    rgba(41, 40, 40, 1) 25%
  );

  color: white;

  width: 100%;
  height: 250px;

  margin: 3% 0;
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-sections-info {
  background-color: #f2f3f6ed;

  width: 60%;

  margin-bottom: 64px;
}

.content-section {
  border-radius: 16px;

  width: 80%;
  padding: 24px;

  display: flex;
  flex-direction: column;
}

.content-section .content {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 28px;
}

.image {
  width: 250px;
  height: 250px;
}

.paragraph-into {
  width: 50%;
}

.illustrationBox {
  display: flex;
  flex-direction: column;
}

.atacks-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list-paragraph {
  background-color: white;
  font-family: var(font-family);

  border-left: 5px solid #2a399b;
  border-radius: 8px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  padding: 6px 24px;
}

.content-avoid-atacks {
  display: flex;
  flex-direction: column;
}

.content-avoid-atacks .sub-title {
  margin-bottom: 0;
}
