:root {
  --bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
html,
body {
  height: auto !important;
  overflow-y: auto !important;
  margin: 0;
  padding: 0;
}
.contain {
  background: var(--bg);
  color: #000;
  
  min-height: 100vh;
  padding: 24px;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.content-section {
  background-color: #c7c7c780;

  border-radius: 16px;

  width: 80%;
  margin: 64px 0;
  padding: 24px;

  display: flex;
  flex-direction: column;
}

.content-section .content {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 28px;
}

.image {
  width: 250px;
  height: 250px;
}

.paragraph-into{
  width: 50%;
}

.illustrationBox {
  display: flex;
  flex-direction: column;
}

.atacks-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content-avoid-atacks{
  display: flex;
  flex-direction: column;
}

.content-avoid-atacks .sub-title{
  margin-bottom: 0;
}