html,
body {
  background-color: #f2f3f6;
  height: auto;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
.contain {
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.content-into-sql {
  background: #2a399b;
  background: linear-gradient(
    90deg,
    rgb(25, 35, 95) 0%,
    rgba(41, 40, 40, 1) 25%
  );
  color: white;
  width: 100%;
  height: 250px;
  margin: 3% 0;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.title-intro {
    font-size: 32px;
    text-align: center; 
    width: 100%;
    margin-bottom: 20px;
}
.content-sections-info {
  background-color: #f2f3f6ed;
  width: 60%;
  margin-bottom: 120px; 
}
.content-section {
  border-radius: 16px;
  width: 95%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; 
}
.content-section .content {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 28px;
  margin-top: 0; 
  margin-bottom: 20px;
}
.image {
  width: 250px;
  height: 250px;
}
.paragraph-into {
  width: 70%;
  text-align: center; 
  margin: 0 auto;
}
.illustrationBox {
  display: flex;
  flex-direction: column;
}
.atacks-list {
  list-style: none;
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  padding: 0;
  margin-top: 0;
}
.list-paragraph {
  background-color: white;
  font-family: var(font-family);
  
  border-left: none; 
  border-radius: 8px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 

  padding: 15px 20px;

  display: flex; 
  align-items: flex-start;
  gap: 15px;
}
.list-icon-container {
    padding-top: 4px;
}
.list-paragraph strong {
    display: block; 
    margin-bottom: 5px;
}
.content-avoid-atacks {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; 
}
.content-avoid-atacks .sub-title {
  margin-top: 0;
  margin-bottom: 5px;
}
.content-avoid-atacks p {
  margin-bottom: 0; 
}