.site-header {
  background: linear-gradient(135deg, #3164af 0%, #1d5177 100%);
  box-shadow: 0 4px 20px rgba(49, 100, 175, 0.15);
  color: white;

  width: 100%;
  height: 60px;
  padding: 8px 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 100;

  position: fixed;
  top: 0;
  left: 0;
}

.brand {
  margin: 0;
  font-size: 1.4rem;
  color: white;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.navbar {
  display: flex;
  gap: 16px;
}

.navigation-link {
  color: white;
  padding: 4px 16px;

  transition: all 0.3s ease;
}

.navigation-link:hover {
  color: white;
  box-shadow: inset 0 -2px 0 0 #5a8dd9;
}

.active {
  box-shadow: inset 0 -2px 0 0 white;
}
